.russo-one-regular {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* navBar */
.headerBlock {
    border: solid 5px black;
}
.navbar {
    background-color: #111111;
    flex-wrap: nowrap;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")
}
.navbar-brand {
    flex-shrink: 1; 
}
.navButton {
    border: solid 5px rgb(255, 225, 0);
}
.lolButton {
    flex-shrink: 1;
    margin-right: auto;
    width: 130px;
}
.navbar-toggler {
    flex-shrink: 2;
    background-color: #282828;
    padding-top: 7px;
    padding-bottom: 7px;   
    width: 13%;
    border: #111111;
}
#imgLol {
    height: 100%; 
    width: 100%;
}
.nav-item {
    display: flex;
    justify-content: center;
}
#navbarNav {
    width: auto;
}
#navbarContainer {
    display: flex;
    flex-wrap: wrap;
}
#navText {
    color: white;
    font-family: "Russo One";
}
.btn-dark {
    --bs-btn-bg:#111111;
    --bs-btn-border-color:#111111;
}
.btn {
    margin: 6px 12px;
}
:root {
    --bs-border-radius:10px;
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 800px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
.leagueOfLegendsButtonNavBar {
    border: solid transparent; 
    width: 125px;
    height: 80px;
    
}
.navbar-brand {
    margin-right: 0px;
    padding: 5px 5px;
}
.riotImgParent {
    width: 125px;
    margin: 0px 5px;
}
.riotImg {
    margin: 0px 10px;
    width: 100%;
    content: url("assets/uVBLFSRk3BesJvi2ScPBtP-2515881763-removebg-preview.png");
}
.riotImg:hover {
    content: url("assets/uVBLFSRk3BesJvi2ScPBtP-2515881763-hovering.png");
}



/* Video */
.videoblock {
    border: solid 5px rgb(136, 255, 0);
}
.video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.videoBlurredParent {
    width: 100%;
    height: 100%;
}
.videoBlurred {
    /* border: solid 10px rgb(0, 255, 200); */
    width: 100%;
    height: 100%;
    opacity: 1;
}
.videoNormalParent {
    width: 75%;
    height: 65%;
    position: absolute;
    object-fit: cover;
    object-position: center top ;
    top: -30px;
}
.videoNormal {
    /* border: solid 5px rgb(0, 68, 255); */
    height: 100%;
    width: 100%;
    z-index: 100;
}

/* Post */
.postBlock {
    border: solid 5px rgb(230, 0, 255);
}
.post {
    border: solid 5px rgb(0, 0, 0)
}
